.general{
  background: black;
}

.contenido{
  width: 90%;
  margin: 0 auto;
}

.logo-social{
  background: #1EEBD2;
}

.logo{
  width: 50%;
}
.social{
padding-top: 15%
}

.social a:hover{
  filter:invert(80%);
}

.social img{
  width:80%;
}

.posts{
  background: url("../image/Fondo.jpg") fixed center;
}

.title-post{
  text-shadow: 0 0 0 0.6;
  color: #1EEBD2;
}

.posts p{
  font-size: 0.9em;
}

.lista-busqueda{
  width: 90%;
}

@media (max-width:768px){

.contenido{
  width: 100%;
}

.social img{
  width: 100%;
  margin:0;
}
}

@media (max-width:425px){
  .contenido{
    width:100%;
  }
}
